#login-area{
    width: 29%;
    min-width: 374px;
    margin: 0 auto;
    margin-top: 150px;
}

.ant-input{
    border-color: #000000;
}

.ant-input-password{
    border-color: #000000;
}

.login-button{
    width: 120px;
}