.coin-about{
    width: 60%;
    min-width: 782px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.coin-about h2{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

.coin-about p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.coin-about-img img{
    width: 300px;
    height: 300px;
}


.coin-about-img {
    position: relative;
    height: 300px;
}

.coin-about-img:hover .coin-about-img-rever{
    opacity: 1;
    visibility: visible;
}

.coin-about-img-rever{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s opacity, 1s visibility;
}

.coin-about-info{
    margin-top: 20px;
    min-width: 452px;
    width: 58%;
    padding: 19px 43px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(196,196,196,1) 0%, rgba(231,231,231,0.15) 60%, rgba(254,254,254,0.15) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(196,196,196,1)), color-stop(60%, rgba(231,231,231,0.15)), color-stop(100%, rgba(254,254,254,0.15)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(196,196,196,1) 0%, rgba(231,231,231,0.15) 60%, rgba(254,254,254,0.15) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(196,196,196,1) 0%, rgba(231,231,231,0.15) 60%, rgba(254,254,254,0.15) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(196,196,196,1) 0%, rgba(231,231,231,0.15) 60%, rgba(254,254,254,0.15) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(196,196,196,1) 0%, rgba(231,231,231,0.15) 60%, rgba(254,254,254,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    -webkit-box-shadow: 15px 15px 20px 10px rgba(122,117,122,1);
    -moz-box-shadow: 15px 15px 20px 10px rgba(122,117,122,1);
    box-shadow: 15px 15px 20px 10px rgba(122,117,122,1);
}

.coin-about-table{
    width: 81%;
    min-width: 366px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.coin-about-table tr:nth-child(odd){
    background-color: white;   
}

.coin-about-table td:nth-child(odd){
    border-right:1px solid rgba(196, 196, 196, 0.5) ;   
}

.coin-about-table td{
    padding: 0 10px;   
}

.about-back{
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}

.about-back:hover{
    color: steelblue;
}
