.app-link-to-home{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #B1ABAB;
    display: block;
    margin-bottom: 15px;
}

.app-link-to-home span{
    text-decoration-line: underline;
}